{{ if (isset . "target") }}
  <a href="{{ .RelPermalink }}" target="{{ .target }}" class="list-group-item list-group-item-action">
{{ else }}
  <a href="{{ .RelPermalink }}" class="list-group-item list-group-item-action">
{{ end }}

  <div class="card">
    {{ if (isset . "imgRelPermalink") }}
      <img class="card-img-top lazyload" src={{ .imgRelPermalink }} alt="{{ .Title }}">  
    {{ else }}
      {{ with $.Resources.GetMatch (string (index $.Params.images 0)) }}
      <img class="card-img-top lazyload" src={{ (.Fill $.Site.Params.articlePhotoSize).RelPermalink }} alt="{{ .Title }}">  
      {{ end }}
    {{ end }}
    <div class="card-body">
      <h4 class="card-title">{{ .Title | truncate 70 }}</h4>
      <p class="card-text">{{ .Content | plainify | htmlUnescape | truncate 200 }}</p>
      <p class="card-text"><small class="text-muted">{{ .Date.Format "2 January 2006" }}</small></p>
    </div>
  </div>
</a>
