<div class="sibedar">
  <h2>Social</h2>
  <ul class="list-group sidebar-content">
    {{ range .Site.Data.social }}
    <li class="list-group-item border-0 py-0"><h5><a href="{{ .url }}" target="_blank">{{ .handle }}<i class="fa fa-{{ .name }} fa-fw"></i></a></h5></li>
    {{end}}
  </ul>
</div>

<div class="sibedar">
  <h2>Latest posts</h2>
  <ul class="list-group list-group-flush sidebar-content">
  {{ range first 3 (where .Site.RegularPages "Section" "news") }}
  <li class="list-group-item"><h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5></li>
  {{ end }}
  </ul>
</div>

<div class="sibedar">
  <h2>Latest press</h2>
  <ul class="list-group list-group-flush sidebar-content">
  {{ range first 3 .Site.Data.press.web }}
  <li class="list-group-item"><h5><a href="{{ .url }}" target="_blank">{{ .title }}</a></h5></li>
  {{ end }}
  </ul>
</div>

<div class="sibedar">
  <h2>Updates</h2>
  <div class="list-group list-group-flush siderbar-content">
    {{ range first 5 .Site.Data.updates }}
      {{ $date := time .date }}
      <div class="list-group-item d-flex justify-content-between">
        <h5 class="mb-1">{{ .title | emojify }}</h5>
        <small class="pl-1 text-muted text-nowrap">{{ $date.Format "2 Jan" }}</small>
      </div>
    {{ end }}
    <div class="list-group-item d-flex justify-content-between">
      <a class="mb-1" href="/updates">More</a>
    </div>
  </div>
</div>

{{ $.Scratch.Set "hasEvents" true }}
{{ range first 1 .Site.Data.events }}
  {{ $date := time .date }}
  {{ if $date.Before now }}
    {{ $.Scratch.Set "hasEvents" false }}
  {{ end }}
{{ end }}

{{ if ($.Scratch.Get "hasEvents") eq true }}
<div class="sibedar">
  <h2>Where to find me</h2>
  <div class="list-group list-group-flush sibedar-updates">
    {{ range first 5 .Site.Data.events }}
      {{ $date := time .date }}
      {{ if $date.After now }}
        <div class="list-group-item update-item">
          <div class="d-flex w-100 justify-content-between">
            <a href="{{ .url }}" target="_blank"><h5 class="mb-1">{{ .title }}</h5></a>
            <small class="text-muted">{{ $date.Format "2 Jan" }}</small>
          </div>
          <p class="mb-1 description">{{ .description }}</p>
          <small class="text-muted"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ .city }}</small>
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
