# Hugo default output directory
/public
/resources

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# git
/.gitmodules

# Node modules
node_modules

# Bower
bower_components

# vendor files
themes/default/assets/css/vendor
themes/default/assets/js/vendor
themes/default/assets/scss/vendor
themes/default/assets/vendor
