<div id="gallery" class="gallery pswp-gallery" itemscope itemtype="http://schema.org/ImageGallery">

  {{ range .Params }}
    {{ $image := $.Page.Resources.GetMatch . }}
    {{ $imageConfig := imageConfig (printf "content/%s" $image.RelPermalink) }}
    {{ $width := $imageConfig.Width }}
    {{ $height := $imageConfig.Height }}

    {{ $imageFull := $image -}}
    {{ if gt $width 650 }}
      {{ $imageFull = $image.Resize "650x" }}
      {{ $imageConfig := imageConfig (printf "resources/_gen/images/%s" $imageFull.RelPermalink) }}
      {{ $width := $imageConfig.Width }}
      {{ $height := $imageConfig.Height }}
    {{ end }}

    {{ $thumb := $image.Fill "250x250" }}
    {{ $webpThumb := "" -}}
    {{ $webpFull := "" -}}
    {{ if ne $image.MediaType.SubType "gif" -}}
      {{ $webpThumb = $image.Fill "250x250 webp" -}}
      {{ $webpFull = $imageFull.Resize (printf "%dx webp" $width) -}}
    {{ end -}}

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ $image.RelPermalink }}" data-pswp-width="{{ $width }}" data-pswp-height="{{ $height }}" data-caption="" itemprop="contentUrl">
        <!-- Thumbnail -->
        <picture>
          {{ if ne $image.MediaType.SubType "gif" -}}
            <source type="image/webp" srcset="{{ $webpThumb.RelPermalink }}">
          {{ end -}}
          <img src="{{ $thumb.RelPermalink }}" itemprop="thumbnail" alt="Image description">
        </picture>
      </a>
    </figure>

  {{ end }}
</div>
