<div id="gallery" class="gallery pswp-gallery" itemscope itemtype="http://schema.org/ImageGallery">

  {{ range .Params }}
    {{ $image := $.Page.Resources.GetMatch . }}
    {{ $imageConfig := imageConfig (printf "content/%s" $image.RelPermalink) }}
    {{ $width := $imageConfig.Width }}
    {{ $height := $imageConfig.Height }}

    {{ if gt $width 650 }}
      {{ $imageFull := $image.Resize "650x" }}
      {{ $imageConfig := imageConfig (printf "resources/_gen/images/%s" $imageFull.RelPermalink) }}
      {{ $width := $imageConfig.Width }}
      {{ $height := $imageConfig.Height }}
    {{ else }}
      {{ $imageFull := $image }}
    {{ end }}

    {{ $thumb := $image.Fill "250x250" }}
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ $image.RelPermalink }}" data-pswp-width="{{ $width }}" data-pswp-height="{{ $height }}" data-caption="" itemprop="contentUrl">
        <!-- Thumbnail -->
        <img src="{{ $thumb.RelPermalink }}" itemprop="thumbnail" alt="Image description">
      </a>
    </figure>

  {{ end }}
</div>
