{{ $pubs := site.Data.publications }}

<div class="publications-list">

<h3>Journal Articles</h3>
<ol class="pub-list">
  {{ range $pubs.journals }}
    {{ partial "publications/item.html" . }}
  {{ end }}
</ol>

<h3>Conference Proceedings</h3>
<ol class="pub-list">
  {{ range $pubs.conferences }}
    {{ partial "publications/item.html" . }}
  {{ end }}
</ol>

{{ with site.Data.patents }}
<h3>Patents</h3>
<ol class="pub-list">
  {{ range . }}
  <li class="pub-item">
    <div class="pub-item__body pub-item__body--full">
      <div class="pub-item__title">{{ .title }}</div>
      <div class="pub-item__authors">{{ .inventors | safeHTML }}</div>
      <div class="pub-item__venue"><em>{{ .assignee }}</em>, {{ .number }}, {{ .status }}.</div>
      <div class="pub-item__meta">Filed: {{ .filed }} &middot; Granted: {{ .granted }}</div>
      <div class="pub-item__links">
        {{ with .url }}<a href="{{ . }}" target="_blank" rel="noopener">View Patent</a>{{ end }}
      </div>
    </div>
  </li>
  {{ end }}
</ol>
{{ end }}

</div>
