{{ block "sidebar" .}} {{ end }}

<div class="pb-4">
  <h3 class="text-end sidebar-heading">Social</h3>
  <ul class="list-group text-end">
    {{ range site.Data.social }}
    <li class="list-group-item border-0 p-0"><div><a href="{{ .url }}" class="sidebar-link" target="_blank" rel="noopener noreferrer" aria-label="{{ .name }}">{{ .handle }}<i class="fa-brands fa-{{ .name }} fa-fw"></i></a></div></li>
    {{ end }}
  </ul>
</div>

<div class="pb-4">
  <h3 class="text-end sidebar-heading">Latest posts</h3>
  <ul class="list-group list-group-flush text-end">
  {{ range first 3 (where site.RegularPages "Section" "news") }}
  <li class="list-group-item border-0 px-0 py-1"><div><a href="{{ .RelPermalink }}" class="sidebar-link">{{ .Title }}</a></div></li>
  {{ end }}
  </ul>
</div>

<div class="pb-4">
  <h3 class="text-end sidebar-heading">Latest press</h3>
  <ul class="list-group list-group-flush text-end">
  {{ range first 3 site.Data.press.web }}
  <li class="list-group-item border-0 px-0 py-1"><div><a href="{{ .url }}" class="sidebar-link" target="_blank" rel="noopener noreferrer">{{ .title }}</a></div></li>
  {{ end }}
  </ul>
</div>

<div class="pb-4">
  <h3 class="text-end sidebar-heading">Updates</h3>
  <div class="list-group list-group-flush text-end">
    {{ range first 5 site.Data.updates }}
      {{ $date := time .date }}
      <div class="list-group-item border-0 px-0 py-1 d-flex justify-content-between">
        <div class="text-start m-0 sidebar-link">{{ .title | emojify }}</div>
        <small class="pl-1 text-muted text-nowrap d-flex align-items-center">{{ $date.Format "2 Jan" }}</small>
      </div>
    {{ end }}
    <div class="list-group-item border-0 p-0 d-flex position-relative start-50">
      <a class="mb-1 text-center sidebar-link" href="/updates">More</a>
    </div>
  </div>
</div>

{{ $.Scratch.Set "hasEvents" true }}
{{ range first 1 site.Data.events }}
  {{ $date := time .date }}
  {{ if $date.Before now }}
    {{ $.Scratch.Set "hasEvents" false }}
  {{ end }}
{{ end }}

{{ if $.Scratch.Get "hasEvents" }}
<div class="pb-4">
  <h3 class="text-end sidebar-heading">Where to find me</h3>
  <div class="list-group list-group-flush sidebar-updates">
    {{ range first 5 site.Data.events }}
      {{ $date := time .date }}
      {{ if $date.After now }}
        <div class="list-group-item border-0 p-0 update-item">
          <div class="d-flex w-100 justify-content-between">
            <a href="{{ .url }}" class="sidebar-link" target="_blank" rel="noopener noreferrer"><div class="mb-1">{{ .title }}</div></a>
            <small class="text-muted">{{ $date.Format "2 Jan" }}</small>
          </div>
          <p class="mb-1 description">{{ .description }}</p>
          <small class="text-muted"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ .city }}</small>
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
