{{ block "sidebar" .}} {{ end }}

<div class="sidebar-widget">
  <h3 class="sidebar-widget__heading">Social</h3>
  <div class="sidebar-widget__social">
    {{ range site.Data.social }}
    <a href="{{ .url }}" class="sidebar-widget__social-link" target="_blank" rel="noopener noreferrer" aria-label="{{ .name }}">
      <i class="fa-brands fa-{{ .name }} fa-fw"></i>
    </a>
    {{ end }}
  </div>
</div>

<div class="sidebar-widget">
  <h3 class="sidebar-widget__heading">Latest posts</h3>
  <ul class="sidebar-widget__list">
  {{ range first 3 (where site.RegularPages "Section" "news") }}
    <li class="sidebar-widget__item">
      <a href="{{ .RelPermalink }}" class="sidebar-widget__link">
        <span class="sidebar-widget__link-text">{{ .Title }}</span>
        <i class="fa fa-arrow-right sidebar-widget__arrow"></i>
      </a>
    </li>
  {{ end }}
  </ul>
</div>

<div class="sidebar-widget">
  <h3 class="sidebar-widget__heading">Latest press</h3>
  <ul class="sidebar-widget__list">
  {{ range first 3 site.Data.press.web }}
    <li class="sidebar-widget__item">
      <a href="{{ .url }}" class="sidebar-widget__link" target="_blank" rel="noopener noreferrer">
        <span class="sidebar-widget__link-text">{{ .title }}</span>
        <i class="fa fa-arrow-right sidebar-widget__arrow"></i>
      </a>
    </li>
  {{ end }}
  </ul>
</div>

<div class="sidebar-widget">
  <h3 class="sidebar-widget__heading">Updates</h3>
  <ul class="sidebar-widget__list">
    {{ range first 5 site.Data.updates }}
      {{ $date := time .date }}
      <li class="sidebar-widget__item sidebar-widget__item--update">
        <span class="sidebar-widget__update-text">{{ .title | emojify }}</span>
        <time class="sidebar-widget__date">// {{ $date.Format "02 Jan" }}</time>
      </li>
    {{ end }}
  </ul>
  <a class="sidebar-widget__more" href="/updates">View all &rarr;</a>
</div>

{{ $.Scratch.Set "hasEvents" true }}
{{ range first 1 site.Data.events }}
  {{ $date := time .date }}
  {{ if $date.Before now }}
    {{ $.Scratch.Set "hasEvents" false }}
  {{ end }}
{{ end }}

{{ if $.Scratch.Get "hasEvents" }}
<div class="sidebar-widget">
  <h3 class="sidebar-widget__heading">Where to find me</h3>
  <ul class="sidebar-widget__list">
    {{ range first 5 site.Data.events }}
      {{ $date := time .date }}
      {{ if $date.After now }}
        <li class="sidebar-widget__item sidebar-widget__item--event">
          <div class="sidebar-widget__event-header">
            <a href="{{ .url }}" class="sidebar-widget__link" target="_blank" rel="noopener noreferrer">
              <span class="sidebar-widget__link-text">{{ .title }}</span>
            </a>
            <time class="sidebar-widget__date">// {{ $date.Format "02 Jan" }}</time>
          </div>
          <p class="sidebar-widget__event-desc">{{ .description }}</p>
          <small class="sidebar-widget__event-location"><i class="fa fa-map-marker-alt"></i> {{ .city }}</small>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</div>
{{ end }}
