.home-image-fingers {
  background-image: url(../images/fingers.png);
  background-size: cover;
  z-index: 1;
}

.home-image-mateevitsi {
  background-image: url(../images/mateevitsi.png);
  background-size: cover;
  z-index: 2;
}

.home-image-groku {
  z-index: -1;
}
