.menu {
  padding-right: 20px;
}

.navbar-brand {
  @media only screen and (min-width: $small-device + 1) {
    font-size: $default-logo-font-size;
  }

  @media only screen and (min-width: $xsmall-device + 1) {
    font-size: $small-logo-font-size;
  }

  @media only screen and (max-width: $xsmall-device) {
    font-size: $xsmall-logo-font-size;
  }

  font-weight: bold;
}

.navbar-item {
  font-size: 17px;
  text-transform: uppercase;
}

.nav-flex-icons {
  flex-direction: row;
}
