.menu {
  padding-right: 20px;
}

.navbar-brand {
  @media only screen and (min-width: $xsmall-device + 1) {
    font-size: 3rem;
  }
  @media only screen and (max-width: $xsmall-device) {
    font-size: 1.3rem;
  }
  font-weight: bold;
}

.navbar-item {
  font-size: 17px;
  text-transform: uppercase;
}

.nav-flex-icons {
  -webkit-flex-direction:row;
  -ms-flex-direction:row;
  flex-direction:row
}
