.home-image-parallax-spidersense {
  background-image: url(/images/Mateevitsi_SpiderSense_VR_hub24077e8499f5664e9b792c14d04a14c_267391_1920x0_resize_q75_catmullrom.jpg);
}

.home-image-parallax-batcave {
  background-image: url(/images/Mateevitsi_batcave_hu839df68b59191f670988ad210d60a093_370657_1920x0_resize_q75_catmullrom.jpg);
}

.skills {
  @include font-size(3rem);

  @include media-breakpoint-down(lg) {
    @include font-size(2.5rem);
  }

  @include media-breakpoint-down(md) {
    @include font-size(2rem);
  }

  @include media-breakpoint-down(sm) {
    @include font-size(2rem);
  }
  font-weight: bold;
  color: black;
}

.skill1 {
  background-color: $skill1-color;
}

.skill2 {
  background-color: $skill2-color;
}

.skill3 {
  background-color: $skill3-color;
}

.latest {
  @include bar($latest-color, black, $latest-font-size);
}

.instagram {
  @include bar($instagram-color, white, $color-bar-font-size);
}

.facebook {
  @include bar($facebook-color, white, $color-bar-font-size);
}

.fingers {
  background-image: url("images/fingers.png");
  background-size: cover;
  z-index: 1;
}

.mateevitsi {
  background-image: url("images/mateevitsi.png");
  background-size: cover;
  z-index: 2;
}

.groku {
  z-index: -1;
}

.vm-featured-image {
}
