.experience {
  padding-bottom: 50px;

  h1 {
    font-weight: normal;
    letter-spacing: 20px;
    text-align: center;
    padding-top: 1rem;
  }
}

.section-home-banner {
  padding: 0;

  @media only screen and (min-width: $small-device + 1) {
    .col {
      height: calc(100vh - #{$bar-height} - #{$default-logo-font-size} * 2);
      height: -o-calc(100vh - #{$bar-height} - #{$default-logo-font-size} * 2); /* opera */
      height: -webkit-calc(100vh - #{$bar-height} - #{$default-logo-font-size} * 2); /* google, safari */
      height: -moz-calc(100vh - #{$bar-height} - #{$default-logo-font-size} * 2); /* firefox */
    }
  }

  @media only screen and (min-width: $xsmall-device + 1) {
    .col {
      height: calc(100vh - #{$bar-height} - #{$small-logo-font-size} * 2);
      height: -o-calc(100vh - #{$bar-height} - #{$small-logo-font-size} * 2); /* opera */
      height: -webkit-calc(100vh - #{$bar-height} - #{$small-logo-font-size} * 2); /* google, safari */
      height: -moz-calc(100vh - #{$bar-height} - #{$small-logo-font-size} * 2); /* firefox */
    }
  }

  @media only screen and (max-width: $xsmall-device) {
    .col {
      height: calc(100vh - #{$bar-height-small} - #{$xsmall-logo-font-size} * 2);
      height: -o-calc(100vh - #{$bar-height-small} - #{$xsmall-logo-font-size} * 2); /* opera */
      height: -webkit-calc(100vh - #{$bar-height-small} - #{$xsmall-logo-font-size} * 2); /* google, safari */
      height: -moz-calc(100vh - #{$bar-height-small} - #{$xsmall-logo-font-size} * 2); /* firefox */
    }
  }
}

.skills {
  @media screen and (max-width: $landscape-iphone) and (orientation: landscape) {
    @include font-size($skill-font-size-iphone-landscape);
  }

  @media screen and (min-width: $landscape-iphone + 1) and (orientation: landscape) {
    @include font-size($skill-font-size-ipad-landscape);
  }

  @media only screen and (min-width: $xsmall-device + 1) and (orientation: portrait) {
    @include font-size($skill-font-size);
  }

  @media only screen and (max-width: $xsmall-device) and (orientation: portrait) {
    @include font-size($skill-font-size-xsmall);
  }

  font-weight: bold;
  text-align: right;
  display: inline-block;
  color: black;
}

.skill1 {
  background-color: $skill1-color;
}

.skill2 {
  background-color: $skill2-color;
}

.skill3 {
  background-color: $skill3-color;
}

.skill-row {
  @media only screen and (orientation: portrait) {
    margin-top: 55px;
  }

  @media only screen and (max-width: $landscape-iphone) and (orientation: landscape) {
    margin-top: 25px;
  }

  @media only screen and (min-width: $landscape-iphone + 1) and (orientation: landscape) {
    margin-top: 45px;
  }
}

.latest {
  @include bar($latest-color, black);

  @media only screen and (max-width: $xsmall-device) {
    height: $bar-height-small;

    a {
      font-size: $latest-font-size;
    }
  }

  bottom: 0;
}

.twitter {
  @include bar($twitter-color, white);
}

.instagram {
  @include bar($instagram-color, white);
}

.facebook {
  @include bar($facebook-color, white);
}
