.sibedar {
  margin-top: 40px;
  margin-bottom: 20px;

  h2 {
    border-bottom: 3px solid $body-color;
    
    @include media-breakpoint-up(lg) {
      text-align: right;
    }
    
    text-align: center;
  }
}

.sidebar-content {
  .list-group-item {
    font-size: $sidebar-font-size;
    a {
      color: $body-color;
    }
}
  
  @include media-breakpoint-up(lg) {
      text-align: right;
  }
}
