@mixin bar($background-color, $color, $font-size) {
  width: 100%;
  background-color: $background-color;
  text-align: center;

  a {
    @include font-size($font-size);

    word-wrap: break-word;
    font-weight: bold;
    text-align: center;
  }

  a,
  a:hover {
    color: $color;
    text-decoration: none;
  }
}
