.pswp__caption__center {
  text-align: center;
}

.gallery {
  figure {
    display: inline-block;
    width: 33.333%;
    float: left;
    margin: 0;
  }

  img {
    width: 100%;
  }

  .spacer {
    height: 5em;
  }
}
