.pswp__caption__center {
  text-align: center;
}

.gallery {
  padding-bottom: $default-spacing;
  padding-top: $default-spacing;
  display: inline-block;

  figure {
    display: inline-block;
    float: left;
    margin: 0;
    width: 33.333%;
  }

  img {
    width: 100%;
  }

  .spacer {
    height: 5em;
  }
}
