{{ define "main" }}
  {{ with .Resources.GetMatch "featured*" }}
  {{ $image := .Resize "1920x" }}
  <div class="row image-with-title" id="{{ $.Page.Title }}" style="background: url({{ $image.Permalink }}) no-repeat bottom center">
  </div>
  {{ end }}
  <div class="container list">
    <div class="row">
      <div class="col-9">
        {{ if (eq .Page.Type "press") }}
          {{ block "items-list" . }}{{ partial "press/list.html" . }}{{ end }}
        {{ else if (eq .Page.Type "news") }}
          {{ block "articles-list" . }}{{ partial "news/list.html" . }}{{ end }}
        {{ else if (eq .Page.Type "projects") }}
          {{ block "project-list" . }}{{ partial "projects/list.html" . }}{{ end }}
        {{ else }}
          {{ block "videos-list" . }}{{ partial "videos/list.html" . }}{{ end }}
        {{ end }}
      </div>
      <div class="col-3">
        {{- partial "components/sidebar.html" . -}}
      </div>
    </div>
  </div>
{{ end }}
