{{ define "main" }}
  {{ with .Resources.GetMatch "featured*" }}
  {{ $image := .Resize "1920x" }}
  <div class="row image-with-title" id="{{ $.Page.Title }}" style="background: url({{ $image.Permalink }}) no-repeat bottom center">
    </div>
  {{ end }}
  <div class="container list">
    <div class="row">
      <div class="col-lg-8">
        {{ if in (.Scratch.Get "class") "press" }}
          {{ block "items-list" . }}{{ partial "press/list.html" . }}{{ end }}
        {{ else if in (.Scratch.Get "class") "posts" }}
          {{ block "articles-list" . }}{{ partial "posts/list.html" . }}{{ end }}
        {{ else }}
          {{ block "videos-list" . }}{{ partial "videos/list.html" . }}{{ end }}
        {{ end }}
      </div>
      <div class="col-lg-4">
        {{- partial "components/sidebar.html" . -}}
      </div>
    </div>
  </div>
{{ end }}
