<div class="widget">
  <h2>Social</h2>
  <ul class="nav navbar-nav widget-social">
    {{ range .Site.Data.social }}
    <li><a href="{{ .url }}" target="_blank">{{ .handle }}<i class="fa fa-{{ .name }} fa-fw header-social-icon"></i></a></li>
    {{end}}
  </ul>
</div>

<div class="widget">
  <h2>Latest news</h2>
  <ul class="list-group list-group-flush widget-news">
  {{ range first 3 (where .Site.RegularPages "Section" "news") }}
    <li class="list-group-item"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
  </ul>
</div>

<div class="widget">
  <h2>Updates</h2>
  <div class="list-group list-group-flush widget-updates">
    {{ range first 5 .Site.Data.updates }}
      {{ $date := time .date }}
      <div class="list-group-item update-item d-flex justify-content-between">
        <h5 class="mb-1">{{ .title }}</h5>
        <small>{{ $date.Format "2 Jan" }}</small>
      </div>
    {{ end }}
    <div class="list-group-item update-item d-flex justify-content-between">
      <a class="mb-1" href="/updates">More</a>
    </div>
  </div>
</div>


