<div class="widget">
  <h2>Social</h2>
  <ul class="nav navbar-nav widget-social">
    {{ range .Site.Data.social }}
    <li><a href="{{ .url }}" target="_blank">{{ .handle }}<i class="fa fa-{{ .name }} fa-fw widget-social-icon"></i></a></li>
    {{end}}
  </ul>
</div>

<div class="widget">
  <h2>Latest posts</h2>
  <ul class="list-group list-group-flush widget-posts">
  {{ range first 3 (where .Site.RegularPages "Section" "posts") }}
    <li class="list-group-item"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
  </ul>
</div>

<div class="widget">
  <h2>Latest press</h2>
  <ul class="list-group list-group-flush widget-posts">
  {{ range first 3 .Site.Data.press.web }}
  <li class="list-group-item py-1"><a href="{{ .url }}" target="_blank">{{ .title }} <i class="fa fa-external-link text-muted"></i></a></li>
  {{ end }}
  </ul>
</div>

<div class="widget">
  <h2>Updates</h2>
  <div class="list-group list-group-flush widget-updates">
    {{ range first 5 .Site.Data.updates }}
      {{ $date := time .date }}
      <div class="list-group-item update-item d-flex justify-content-between">
        <h5 class="mb-1">{{ .title }}</h5>
        <small class="text-muted">{{ $date.Format "2 Jan" }}</small>
      </div>
    {{ end }}
    <div class="list-group-item update-item d-flex justify-content-between">
      <a class="mb-1" href="/updates">More</a>
    </div>
  </div>
</div>

<div class="widget">
  <h2>Where to find me next</h2>
  <div class="list-group list-group-flush widget-updates">
    {{ range first 5 .Site.Data.events }}
      {{ $date := time .date }}
      <div class="list-group-item update-item">
        <div class="d-flex w-100 justify-content-between">
          <a href="{{ .url }}" target="_blank"><h5 class="mb-1">{{ .title }}</h5></a>
          <small class="text-muted">{{ $date.Format "2 Jan" }}</small>
        </div>
        <p class="mb-1 description">{{ .description }}</p>
        <small class="text-muted"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ .city }}</small>
      </div>
    {{ end }}
  </div>
</div>
