{{ define "main" }}
<div class="container-fluid single">
  <div class="container">
    {{ with .Resources.GetMatch (printf "*%s*" .Params.featured_image) }}
    <div class="row">
      <img class="img-fluid" src="{{ (.Fill "1140x500").Permalink }}" alt=" {{ $.Page.Title }}">
    </div>
    {{ end }}
    <div class="row">
      <div class="col-lg-8">
        <h1>{{ $.Page.Title }}</h1>
        <div class="d-flex justify-content-between my-3">
          <h4 class="text-muted">{{ $.Page.Date.Format "January 2, 2006" }}</h4> 
          <small>{{- partial "sharing.html" (dict "title" .Page.Title "permalink" .Page.Permalink) -}}</small>
        </div>
        {{.Content}}
                {{ with .Params.pdf }}
          <h2 class="mt-2">Download</h2>
          <i class="fa fa-file-pdf-o"></i> <a href={{ . }} target=_blank>Paper PDF</a>
        {{ end }}

        {{ with .Params.reference }}
          <h2 class="mt-2">Reference</h2>
          <div class="reference">
            {{ with $.Params.best_paper }}
              <i class="fa fa-trophy"></i>
            {{ end }}
            {{ . }}</div>
        {{ end }}

        {{ with .Params.pictures }}
          <h2 class="mt-2">Pictures</h2>
          {{ partial "carousel.html" . }}
        {{ end }}
        
        {{ with .Params.related_press }}
          <hr class="mt-4"/>
          <h2 class="mt-2">Related Press</h2>
          <ul class="list-group list-group-flush related-press">
            <!-- Iterate over the post's tags and then iterate over each press item's tags to find a match -->
            {{ range . }}
              {{ $cur_tag := . }}
              
              {{ range $.Site.Data.press.web }}
                {{ $cur_item := . }}
                {{ with .tags }}
                    {{ if in . $cur_tag }}
                      <li class="list-group-item py-1"><a href="{{ $cur_item.url }}" target="_blank">{{ $cur_item.title }} <i class="fa fa-external-link text-muted"></i></a></li>
                    {{ end }}
                {{ end }}
              {{ end }}
            {{ end }}
            </ul>
          {{ end }}
        
        {{ with .Params.image_credits }}
          <small>Image credits: {{ . }}</small>
        {{ end }}
       
      </div> <!-- End col-lg-8 --> 

      <div class="col-lg-4">
        {{- partial "components/sidebar.html" . -}}
      </div>
    </div>
</div>
</div>
{{ end }}
