{{ define "main" }}
  {{/* Clean page header with orange accent bar */}}
  <div class="container page-header">
    <div class="row">
      <div class="col-lg-9">
        <div class="page-header__inner">
          <span class="page-header__accent"></span>
          <h1 class="page-header__title">{{ .Page.Title }}</h1>
          <p class="page-header__subtitle">
            {{- if (eq .Page.Type "news") -}}Research, projects, awards, talks, and the occasional personal note
            {{- else if (eq .Page.Type "press") -}}Media coverage and mentions
            {{- else if (hasPrefix .RelPermalink "/publications") -}}Journal articles, conference proceedings, and patents
            {{- else if (hasPrefix .RelPermalink "/talks") -}}Invited talks, keynotes, and presentations
            {{- else if (hasPrefix .RelPermalink "/cv") -}}Education, awards, students, and service
            {{- else if (hasPrefix .RelPermalink "/research") -}}Five themes I'm building toward
            {{- else -}}{{ with .Page.Description }}{{ . }}{{ end }}
            {{- end -}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="single-post__content">
          {{ .Content }}
        </div>
      </div>
      <div class="col-lg-3">
        {{- partial "components/sidebar.html" . -}}
      </div>
    </div>
  </div>
{{ end }}
