{{ $indexScratch := $.Scratch }}
{{ $count := $.Site.Data.press.web | len }}
{{ range $.Site.Data.press.web }}
    <h1>yes</h1>  
  {{ $.Scratch.Add "i" 1 }}
  {{ $i := $.Scratch.Get "i" }}
  {{ if eq $count $i }}
    {{ $indexScratch.Set "last" "true" }}
  {{ else }}
    {{ $indexScratch.Set "last" "false" }}
  {{ end }}
  
  {{ if and .url .date .text .title .image .publication }}
    {{ $indexScratch.Set "url" .url }}
    {{ $indexScratch.Set "date" .date }}
    {{ $indexScratch.Set "text" .text }}
    {{ $indexScratch.Set "title" .title }}
    {{ $indexScratch.Set "publication" .publication }}
    
    {{ if .image }}
      {{ with $.Resources.GetMatch .image }}
        {{ $src := (.Fill "150x150").Permalink }}
        {{ $indexScratch.Set "perm" $src }}
      {{ end }}
    {{ else }}
      {{ with $.Resources.GetMatch (print "*" (replace .title ":" "") "*") }}
        {{ $src := (.Fill "150x150").Permalink }}
        {{ $indexScratch.Set "perm" $src }}
      {{ end }}
    {{ end }}

    
    {{ partial "list.html" $indexScratch }}
  {{ end }}
{{ end }}
