{{ if eq (.Get "last") "true" }}
<div class="row mb-4 pb-4">
{{ else }}
<div class="row border-bottom mb-4 pb-4">
{{ end }}
  <div class="col-md-12 col-xs-12 noleftpadding">
    <div class="wrapper">
      <div class="box">
        <img style="float:left;margin-right:10px" src= {{ .Get "perm" }} >
      </div>
        <div class="d-flex justify-content-between">
          <h4>{{ .Get "publication" }}</h4>
          {{ $date := time (.Get "date") }}
          <small class="text-muted">{{ $date.Format "2 January 2006" }}</small>

        </div>
        <h5>{{ .Get "title" }}</h5>
        <p style="margin:5px">{{ (.Get "text") | safeHTML | truncate 105 }}</p>
      <a href="{{ .Get "url" }}" target="_blank" class="more bottom-align-text">Read More <i class="fa fa-external-link text-muted"></i></a>
    </div>
  </div>
</div>
