{{ define "main" }}
<div class="container-fluid single">
  <div class="row mx-5">
    <div class="card">
    {{ with .Resources.GetMatch (index $.Params.images 0) }}
      <img class="card-img" src={{ .RelPermalink }} alt="{{ $.Page.Title }}">
    {{ end }}
      <div class="card-img-overlay">
        <div class="d-flex flex-row justify-content-end">
          <h1 class="card-title mr-3">{{ .Page.Title }}</h1>
          {{ with .Resources.GetMatch .Params.flag }}
            <img src="{{ .RelPermalink }}" alt="{{ $.Page.Title }} flag">
          {{ end }}
        </div>
        <h2 class="card-text mt-4">{{ .Page.Description }}</h2>
        {{ with .Resources.GetMatch .Params.map }}
        <div class="d-flex flex-row justify-content-end">
          <img src="{{ .RelPermalink }}" alt="{{ $.Page.Title }} map">
          </div>
        {{ end }}
      </div>
      <div class="card-footer">
        {{ .Params.days }} DAYS | {{ .Params.cities }} CITIES | {{ .Params.km }} KILOMETERS
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row mx-5 mb-5 pb-5">
        <div class="content">{{ .Page.Content }}</div>
      
        <div class="travelers-card mt-5 mx-auto d-block">
          <h5>TRAVELERS</h5>
          <ul class="travelers">
          {{ with .Resources.GetMatch "vasia-rigou-avatar.jpg" }}
            <li>
              <img src="{{ .RelPermalink }}" class="rounded-circle" alt="Vasia Rigou">
              <div class="text-center text-muted">Vasia</div>
            </li>
            {{ end }}
            {{ with .Resources.GetMatch "victor-mateevitsi-avatar.jpg" }}
            <li>
              <img src="{{ .RelPermalink }}" class="rounded-circle" alt="Vasia Rigou">
              <div class="text-center text-muted">Victor</div>
            </li>
            {{ end }}
            </ul>
        </div>
      </div>
      <div id="panelContainer" class="container mt-5 pt-5">
        <div id="trigger1" class="spacer"></div>
        <section id="one" class="panel one container">
          {{ readFile "/content/trips/ethiopia/world.svg" | safeHTML }} 
        </section>
      </div>
      <div class="mapMore container-fluid">
        <div class="row">
      <div class="col-3">
          {{ with .Resources.GetMatch .Params.flag }}
            <img src="{{ .RelPermalink }}" alt="{{ $.Page.Title }} flag">
          {{ end }}
      </div>
            <div class="population col">
              <div class="d-flex flex-column">
                <div>POPULATION</div>
                <div>{{ .Params.population }}</div>
              </div>
            </div>
            <div class="population col">
              CAPITAL
            </div>
            <div class="language col">
              LANGUAGE
            </div>
            <div class="currency col">
              CURRENCY
            </div>
            <div class="timezone col">
              TIMEZONE
            </div>
        </div>
        </div>
      </div>
    </div>
</div>
{{ end }}
