{{ define "main" }}
<div class="container-fluid">
  <div class="row section-home-banner">
    <div class="col d-flex align-items-center">
      <div class="col-4 skills">
        <div><span class="skill1">{{ index (.Params.skills) 0 }}</span></div>
        <div class="skill-row"><span class="skill2">{{ index (.Params.skills) 1 }}</span></div>
        <div class="skill-row"><span class="skill3">{{ index (.Params.skills) 2 }}</span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex align-items-center justify-content-center latest">
      {{ range first 1 (where .Site.Pages "Section" "posts") }}
      <a href="{{ .RelPermalink }}">Latest: {{ .Title }} </a>
      {{ end }}
    </div>

  </div>

  <div class="row parallax parallax-spidersensevr">
    <div class="container">
      <p>By day I am a Human-Computer Interaction Research Scientist at 
      <a href="https://www.gn.com" target="_blank">GN Advanced Science</a> in Chicago. By night, I play ice hockey, snowboard, sail, read, or develop future technologies, like <a href={{ with .Site.GetPage "/news/sensing-the-environment-through-spidersense" }}{{ .Permalink }}{{ end }}>SpiderSense</a>.</p>

      <p>My expertise lies in prototyping novel ways of interacting with next-gen technology, which sometimes might mean building hardware prototypes, other times designing innovative User Experiences. I am agile and well versed in software and hardware development, as well as fabrication. Check my portfolio to see what I am up to, <a href={{ with .Site.GetPage "/contact" }}{{ .Permalink }}{{ end }}>contact me</a> for consulting projects, collaborations, or any questions you have. More about me <a href={{ with .Site.GetPage "/about" }}{{ .Permalink }}{{ end }}>here</a>.</p>

   </div>
  </div>

  {{ partial "social_row.html" (dict "social" .Site.Data.social.twitter) }}
  <div class="container experience">
    <h1>WORK</h1>
    <div class="row mtb text-center">
      <div class="col-md-3">
        <img src="/img/pixar-logo.png" class="fluid-img" alt="Pixar Logo"/>
        <p>Worked on <a href="https://graphics.pixar.com/usd/docs/index.html" target="_blank">USD</a>, a library that allows for interchange of elemental assets and animations, and is now core of Pixar's 3D graphics pipeline</p>
      </div>
      <div class="col-md-3">
        <img src="/img/msr-logo.png" class="fluid-img" alt="Microsoft Research">
        <p>Developed with <a href="//en.wikipedia.org/wiki/Jaron_Lanier" target="_blank">Jaron Lanier</a>, a multi-user Mixed Reality library for sharing collocated Augmented Reality experiences</p>
      </div>
      <div class="col-md-3">
        <img src="/img/dwa-logo.png" class="fluid-img" alt="Mortgage Loans">
        <p>Part of the team that developed <a href="//www.theverge.com/2014/6/12/5804070/the-amazing-animation-software-behind-how-to-train-your-dragon-2" target="_blank">Premo</a>, the next-generation animation tool behind Oscar nominated movies like <i>How To Train Your Dragon 2</i></p>
      </div>
      <div class="col-md-3">
        <img src="/img/gn-logo.png" class="fluid-img" alt="GN Logo">
        <p>Human-Computer Interaction Research Scientist working on designing and developing next-generation devices, smart interactions, and sensor technologies</p>
      </div>
    </div>
  </div>
  {{ partial "social_row.html" (dict "social" .Site.Data.social.instagram) }}

  <div class="row parallax parallax-batcave">
    <div class="container">
      <p>I would love to get to know you and help with anything I can. Feel free to reach out, contact me on <a href="{{ .Site.Data.social.twitter.url }}" target="_blank">twitter (@{{ .Site.Data.social.twitter.handle }})</a>, or shoot me an email (<a href="mailto:mvictoras@gmail.com">mvictoras@gmail.com</a>). We can also talk during my 1871 office hours.</p>
      <p>I would be happy to participate at your panel, conference or next event. Feel free to <a href="/contact">contact me</a>.</p>
    </div>
  </div>
  {{ partial "social_row.html" (dict "social" .Site.Data.social.facebook) }}
</div>

{{ end }}
