{{ define "main" }}
<div class="container-fluid">

  {{ $image := resources.Get "images/home/Victor_Mateevitsi.jpg" }}
  {{ $image := $image.Resize "x740" }}
  {{ $imageSmall := resources.Get "images/home/Victor_Mateevitsi_small.jpg" }}
  {{ $imageSmall := $imageSmall.Resize "x500" }}
<!-- Smalll displays -->
  <div class="d-sm-block d-md-none row section-home-banner" style="background: #fff url({{ $imageSmall.RelPermalink }}) no-repeat right bottom;">
    <div class="col d-flex align-items-center">
      <div class="col-4 skills">
        <div><span class="skill1">{{ index (.Params.skills) 0 }}</span></div>
        <div class="skill-row"><span class="skill2">{{ index (.Params.skills) 1 }}</span></div>
        <div class="skill-row"><span class="skill3">{{ index (.Params.skills) 2 }}</span></div>
      </div>
    </div>
  </div>
  <!-- Large displays -->
  <div class="d-none d-md-block row section-home-banner" style="background: #fff url({{ $image.RelPermalink }}) no-repeat right bottom;">
    <div class="col d-flex align-items-center">
      <div class="col-4 skills">
        <div><span class="skill1">{{ index (.Params.skills) 0 }}</span></div>
        <div class="skill-row"><span class="skill2">{{ index (.Params.skills) 1 }}</span></div>
        <div class="skill-row"><span class="skill3">{{ index (.Params.skills) 2 }}</span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex align-items-center justify-content-center latest">
      {{ range first 1 (where .Site.Pages "Section" "news") }}
      <a href="{{ .RelPermalink }}">Latest: {{ .Title }} </a>
      {{ end }}
    </div>

  </div>

  {{ $image := resources.Get "images/home/Mateevitsi_SpiderSense_VR.jpg" }}
  {{ $image := $image.Resize "1920x" }}
  <div class="row parallax" style="background-image: url({{ $image.RelPermalink }});">
    <div class="container">
      <p>I am a Computer Scientist at the 
      <a href="https://www.alcf.anl.gov" target="_blank">Argonne Leadership Computing Facility</a> at the <a href="https://www.anl.gov" target="_blank">Argonne National Laboratory</a>, founder and chair of <a href="https://www.chicagochi.org" target="_blank">ChicagoCHI</a> and co-founder of <a href="https://www.thisispickle.com/" target="_blank">PICKLE</a>. I also consult startups and companies on HCI, UX, Virtual Reality, Augmented Reality and emerging technologies. When I am not working I play ice hockey, snowboard, sail, read, make things at <a href="https://www.pumpingstationone.org" target="_blank">Pumping Station: One</a>, or develop future technologies, like <a href={{ with .Site.GetPage "/news/sensing-the-environment-through-spidersense" }}{{ .Permalink }}{{ end }}>SpiderSense</a>.</p>

      <p>My expertise lies in large-scale visualizations, and prototyping novel ways of interacting with next-gen technology, which sometimes means building hardware prototypes; at other times designing innovative User Experiences. I am agile and well versed in software and hardware development, as well as fabrication. Check my <a href="/posts">blog</a> to see what I am up to, <a href={{ with .Site.GetPage "/contact" }}{{ .Permalink }}{{ end }}>contact me</a> for consulting projects, collaborations, or any questions you have. Find out more about me <a href={{ with .Site.GetPage "/about" }}{{ .Permalink }}{{ end }}>here</a>.</p>

   </div>
 </div>

  {{ partial "social_row.html" (dict "social" .Site.Data.social.twitter) }}
  <div class="container experience">
    <div class="row mtb text-center mt-5">
      <div class="col-md-3">
        <img src="/images/pixar-logo.png" class="fluid-img" alt="Pixar Logo"/>
        <p>Worked on <a href="https://graphics.pixar.com/usd/docs/index.html" target="_blank">USD</a>, a library that allows for interchange of elemental assets and animations and is now core of Pixar's 3D graphics pipeline.</p>
      </div>
      <div class="col-md-3">
        <img src="/images/msr-logo.png" class="fluid-img" alt="Microsoft Research">
        <p>Developed a multi-user Mixed Reality library for sharing collocated Augmented Reality experiences with father of VR, <a href="//en.wikipedia.org/wiki/Jaron_Lanier" target="_blank">Jaron Lanier</a>.</p>
      </div>
      <div class="col-md-3">
        <img src="/images/dwa-logo.png" class="fluid-img" alt="Mortgage Loans">
        <p>Contributed to the development of <a href="//www.theverge.com/2014/6/12/5804070/the-amazing-animation-software-behind-how-to-train-your-dragon-2" target="_blank">Premo</a>, the animation tool behind Oscar-nominated movies like <i>How To Train Your Dragon 2.</i></p>
      </div>
      <div class="col-md-3">
        <img src="/images/gn-logo.png" class="fluid-img" alt="GN Logo">
        <p>Worked on designing and developing next-generation devices, smart interactions and sensor technologies.</p>
      </div>
    </div>
  </div>
  {{ partial "social_row.html" (dict "social" .Site.Data.social.instagram) }}

  {{ $image := resources.Get "images/home/Mateevitsi_batcave.jpg" }}
  {{ $image := $image.Resize "1920x" }}
  <div class="row parallax" style="background-image: url({{ $image.RelPermalink }});">
    <div class="container">
      <p>I love crazy ideas, difficult problems and emerging technologies. Do you or your idea fit the profile? <a href="/contact">Let's work together</a>, I can help!</p>
      <p>I also love travelling, exchanging ideas and sharing knowledge. I have been a <a href="https://youtu.be/gtU-6cxi1OA" target="_blank">TEDx speaker</a> and spoken to world-class conferences, like the <a href="https://youtu.be/D2BZ5wCTwGU" target="_blank">Augmented World Exposition (AWE)</a>. I'd be honored to participate at your next panel, conference or event. Feel free to <a href="/contact">contact me</a>.</p>
    </div>
  </div>
  {{ partial "social_row.html" (dict "social" .Site.Data.social.facebook) }}
</div>

{{ end }}
