<div class="px-0 parallax home-image-parallax-batcave">
    <div class="container">
        <p>I love crazy ideas, difficult problems and emerging technologies. Do you or your idea fit the profile? <a href="/contact">Let's work together</a>, I can help!</p>
        <p>I also love travelling, exchanging ideas and sharing knowledge. I have been a <a href="https://youtu.be/gtU-6cxi1OA" target="_blank">TEDx speaker</a> and spoken to world-class conferences, like the <a href="https://youtu.be/D2BZ5wCTwGU" target="_blank">Augmented World Exposition (AWE)</a>. I'd be honored to participate at your next panel, conference or event. Feel free to <a href="/contact">contact me</a>.</p>
    </div>
</div>