<div class="container">
    <div class="row align-items-center">
        <div class="col-4 skills">
        <div class="py-4"><span class="skill1">{{ index (.Params.skills) 0 }}</span></div>
        <div class="py-4"><span class="skill2">{{ index (.Params.skills) 1 }}</span></div>
        <div class="py-4"><span class="skill3">{{ index (.Params.skills) 2 }}</span></div>
        </div>
        <div class="col-8 align-self-end p-0 fingers">
          <div class="w-100 h-100 d-flex p-0 mateevitsi">
            <img src="images/groku.png" class="img-fluid float-end lazyload groku" alt="Victor Mateevitsi wearing a HoloLens and holding Groku">
          </div>
        </div>
    </div>
</div>
