{{ define "main" }}
<article class="single-post">
  {{/* Hero image with gradient fade */}}
  {{ with .Resources.GetMatch (string (index $.Params.images 0)) }}
  <div class="single-post__hero">
    <img class="single-post__hero-img" src="{{ (.Fill "1400x500").Permalink }}" alt="{{ $.Page.Title }}">
    <div class="single-post__hero-fade"></div>
  </div>
  {{ end }}

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <header class="single-post__header">
          <time class="single-post__date" datetime="{{ $.Page.Date.Format "2006-01-02" }}">{{ $.Page.Date.Format "02 Jan 2006" }}</time>
          <h1 class="single-post__title">{{ $.Page.Title }}</h1>
          <div class="single-post__share">
            {{- partial "sharing.html" (dict "title" .Page.Title "permalink" .Page.Permalink) -}}
          </div>
        </header>

        <div class="single-post__content">
          {{ .Content }}

          {{ with .Params.pdf }}
          <div class="single-post__download">
            <h2>Download</h2>
            <a href="{{ . }}" target="_blank" class="single-post__pdf-link">
              <i class="fa fa-file-pdf-o"></i> Paper PDF
            </a>
          </div>
          {{ end }}

          {{ with .Params.reference }}
          <div class="single-post__reference">
            <h2>Reference</h2>
            <div class="reference">
              {{ with $.Params.best_paper }}
                <i class="fa fa-trophy single-post__trophy"></i>
              {{ end }}
              {{ . }}
            </div>
          </div>
          {{ end }}
        </div>

        {{ with .Params.related_press }}
          <div class="single-post__related">
            <h2 class="single-post__related-heading">Related Press</h2>
            <ul class="single-post__press-list">
              {{ range . }}
                {{ $cur_tag := . }}
                {{ range site.Data.press.web }}
                  {{ $cur_item := . }}
                  {{ with .tags }}
                    {{ if in . $cur_tag }}
                      <li class="single-post__press-item">
                        <a href="{{ $cur_item.url }}" target="_blank">
                          {{ $cur_item.title }}
                          <i class="fa fa-external-link"></i>
                        </a>
                      </li>
                    {{ end }}
                  {{ end }}
                {{ end }}
              {{ end }}
            </ul>
          </div>
        {{ end }}

        {{ with .Params.image_credits }}
          <p class="single-post__credits">Image credits: {{ . }}</p>
        {{ end }}

      </div>

      <div class="col-lg-3">
        {{- partial "components/sidebar.html" . -}}
      </div>
    </div>
  </div>
</article>
{{ end }}
