{{ define "main" }}
<div class="row justify-content-center glitch-container">
  <div class="glitch">
    <div class="glitch__container">
      <div class="glitch__text">
        <h1 class="glitch__text__title glitch-effect">
          <strong>404</strong> <br> PAGE NOT FOUND
          <span class="glitch-effect-text-clr1"><strong>404</strong> <br> PAGE NOT FOUND</span>
          <span class="glitch-effect-text-clr2"><strong>404</strong> <br> PAGE NOT FOUND</span>
        </h1>
      </div>
    </div>
  </div>
</div>
{{ end }}
