{{ define "main" }}

  {{/* Featured image */}}
  <div class="container glitch-container">
    <div class="row align-items-center">
        <div class="col-4 skills">
        <div class="my-5 py-2 px-1 skill1"><span class="glitch" data-text="Rεs@ercheR">{{ index (.Params.skills) 0 }}</span></div>
        <div class="my-5 py-2 px-1 skill2"><span class="glitch" data-text="eng1n3er">{{ index (.Params.skills) 1 }}</span></div>
        <div class="my-5 py-2 px-1 skill3"><span class="glitch" data-text="sc1entiSt">{{ index (.Params.skills) 2 }}</span></div>
        </div>
        {{ .Params.hero_image | safeHTML}}
    </div>
  </div>


  {{/* About me */}}
  <div class="px-0 parallax" style="background-image: url( {{ .Params.about_image }})">
    <div class="container">
        {{ .Content }} 
    </div>
  </div>

  {{/* Experience List */}}
  <div class="container">
    <div class="carousel-experience">
      {{ range $i, $e := .Site.Data.experience }}
        {{ partial "components/experience-item.html" $e }}
      {{ end }}
    </div>
  </div>
  

  {{/* Contact me */}}
  <div class="px-0 parallax" style="background-image: url( {{ .Params.contact_image }})">
    <div class="container">
        {{ .Params.contact | safeHTML }}
    </div>
  </div>

{{ end }}
