{{ $.Scratch.Set "prev" ((now.AddDate 1 0 0).Format "2006") }}
<div class="list-group list-group-flush updates">
  {{ range .Site.Data.updates }}
    {{ $date := time .date }}
    {{ $prev := $.Scratch.Get "prev" }}
    {{ if gt $prev ($date.Format "2006") }}
    <h1 class="mt-5">{{ $date.Format "2006" }}</h1>
    {{ $.Scratch.Set "prev" ($date.Format "2006") }}
    {{ end }}
    <div class="list-group-item update-item d-flex justify-content-between border-0">
      <h4 class="mb-1">{{ emojify .title }}</h4>
      <small class="pl-1 text-muted text-nowrap pt-1">{{ $date.Format "2 January" }}</small>
    </div>
  {{ end }}
</div>
