.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: $parallax-font-size;
  line-height: 36px;
  padding-bottom: 50px;
  padding-top: 50px;
  vertical-align: middle;

  p {
    padding-top: 30px;
  }
}
