$url-color: #FC9D00;

$bar-height: 80px;
$latest-color: #F29D15;
$menu-height: 99px;

$skill1-color: #ED4A68;
$skill2-color: #F29D15;
$skill3-color: #9EB2C1;

$twitter-color: #38A1F3;
$instagram-color: #C13584;
$facebook-color: #3C5A99;
$linkedin-color: #0077B5;
