.single {
  h1 {
    color: black;
  }
}

.widget {
  h2 {
    font-size: 1.5rem;
    text-align: right;
    border-bottom: 3px solid black;
  }
}
.widget-social {
  text-align: right;
}

.widget-news {
  font-size: 0.9rem;
}

.widget-updates {
  font-size: 0.8rem;

  .update-item {
    border-top: 0;
    padding-top: 3px;
    padding-bottom: 3px;

    small {
      color: #6c757d;
    }

    h5 {
      font-size: 0.8rem;
    }
  }
}

.knockout {
    background-size: cover !important;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 640px;
    margin-bottom: 20px;
    min-height: 600px
}

.knockout::before {
    content: " " attr(id) "";
    width: 100%;
    text-transform: capitalize;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    display: block;
    padding: 0 0 10px;
    line-height: 1.2em;
    margin-bottom: -1px;
    color: #000;
    text-align: center;
    z-index: 1;
    mix-blend-mode: lighten;
    font-weight: 700;
    font-size: 6vw
}


