@import "variables";

.single {
  h1 {
    color: black;
  }
}

.widget {
  margin-top: 20px;

  h2 {
    font-size: 1.5rem;
    text-align: right;
    border-bottom: 3px solid black;
  }
}
.widget-social {
  text-align: right;
}

.widget-social-icon {
  color: black;
}

.widget-news {
  font-size: 0.8rem;

  .list-group-item {
    border: 0;
  }
}

.widget-updates {
  font-size: 0.8rem;

  .update-item {
    border-top: 0;
    padding-top: 3px;
    padding-bottom: 3px;

    .description {
      font-size: 0.7rem;
    }
    
    h5 {
      font-size: 0.8rem;
    }
  }
}

.updates {

  padding-top: 40px;

  .update-item {
    border-top: 0;
    padding-top: 3px;
    padding-bottom: 3px;

    small {
      color: #6c757d;
      font-size: 1rem;
    }

    h5 {
      font-size: 1.2rem;
    }
  }
}


.knockout {
    background-size: cover !important;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 640px;
    margin-bottom: 20px;
    min-height: 600px
}

.knockout::before {
    content: " " attr(id) "";
    width: 100%;
    text-transform: capitalize;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    display: block;
    padding: 0 0 10px;
    line-height: 1.2em;
    margin-bottom: -1px;
    color: #000;
    text-align: center;
    z-index: 1;
    mix-blend-mode: lighten;
    font-weight: 700;
    font-size: 6vw
}

.news {
  h1 {
    font-size: 1.2rem;
    text-align: left;
    padding-top: 0;
  }

  h2 {
    font-size: 1rem;
    font-weight: bold;
  }

  .more {
    float: left;
  }

  .fa-external-link {
    font-size: 0.8rem;
    margin-left: 4px;
  }
}

.noleftpadding {
  padding-left: 0 !important;
}

.bottom-align-text {
  position: absolute;
  bottom: 0;
}

.related-press {
  li {
    border: 0;
    padding-left: 0;
  }
}

