{{ $baseURL := "/" | absURL -}}

{{ $dot := . -}}
{{ $dot.Scratch.Set "path" "" -}}
{{ $dot.Scratch.Set "breadcrumb" slice -}}

{{ $url := replace .Permalink ( printf "%s" site.BaseURL) "" -}}
{{ $.Scratch.Add "path" site.BaseURL -}}

{{ $.Scratch.Add "breadcrumb" (slice (dict "url" site.BaseURL "name" "home" "position" 1 )) -}}
  {{ range $index, $element := split $url "/" -}}
    {{ $dot.Scratch.Add "path" $element -}}
    {{ $.Scratch.Add "path" "/" -}}
    {{ if ne $element "" -}}
    {{ $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) -}}
  {{ end -}}
{{ end -}}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      {{ if eq site.Params.schemaType "Organization" -}}
        "@type": "Organization",
        "@id": {{ print $baseURL "#/schema/organization/1" }},
      {{ else -}}
        "@type": "Person",
        "@id": {{ print $baseURL "#/schema/person/1" }},
      {{ end -}}
      "name": "{{ site.Params.schemaName }}",
      "url": {{ print $baseURL }},
      "sameAs": [
        {{ with site.Params.schemaTwitter -}}
        {{ . }}
        {{ end -}}
        {{ with site.Params.schemaLinkedIn -}}
        , {{ . }}
        {{ end -}}
        {{ with site.Params.schemaGitHub -}}
        , {{ . }}
        {{ end -}}
      ],
      {{ if eq site.Params.schemaType "Organization" -}}
        "logo": {
          "@type": "ImageObject",
          "@id": {{ print $baseURL "#/schema/image/1"}},
          "url": {{ print $baseURL site.Params.schemaLogo }},
          "width": {{ site.Params.schemaLogoWidth }},
          "height": {{ site.Params.schemaLogoHeight }},
          "caption": "{{ site.Params.schemaName }}"
        },
        "image": {
          "@id": {{ print $baseURL "#/schema/image/1" }}
        }
      {{ else -}}
        "image": {
          "@type": "ImageObject",
          "@id": {{ print $baseURL "#/schema/image/1"}},
          "url": {{ print $baseURL site.Params.schemaImage }},
          "width": {{ site.Params.schemaImageWidth }},
          "height": {{ site.Params.schemaImageHeight }},
          "caption": "{{ site.Params.schemaName }}"
        }
      {{ end -}}
    },
    {
      "@type": "WebSite",
      "@id": {{ print $baseURL "#/schema/website/1" }},
      "url": {{ print $baseURL }},
      "name": "{{ site.Params.title }}",
      "description": "{{ site.Params.description }}",
      {{ if eq site.Params.schemaType "Organization" -}}
        "publisher": {
          "@id": {{ print $baseURL "#/schema/organization/1" }}
        }
      {{ else -}}
        "publisher": {
          "@id": {{ print $baseURL "#/schema/person/1" }}
        }
      {{ end -}}
    },
    {
      {{ if and (ne .Kind "taxonomy") (ne .Kind "term") -}}
        "@type": "WebPage",
      {{ else -}}
        "@type": "CollectionPage",
      {{ end -}}
      "@id": {{ .Permalink }},
      "url": {{ .Permalink }},
      "name": "{{ .Title }}",
      "description": "{{ .Description }}",
      "isPartOf": {
        "@id": {{ print $baseURL "#/schema/website/1" }}
      },
      {{ if eq site.Params.schemaType "Organization" -}}
        "about": {
          "@id": {{ print $baseURL "#/schema/organization/1" }}
        },
      {{ else -}}
        "about": {
          "@id": {{ print $baseURL "#/schema/person/1" }}
        },
      {{ end -}}
      "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05CET" }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05CET" }}",
      "breadcrumb": {
        "@id": {{ print .Permalink "#/schema/breadcrumb/1" }}
      },
      "primaryImageOfPage": {
        "@id": {{ print .Permalink "#/schema/image/2" }}
      },
      "inLanguage": "{{ site.Params.schemaLocale }}",
      "potentialAction": [{
        "@type": "ReadAction", "target": [{{ .Permalink }}]
      }]
    },
    {
      "@type": "BreadcrumbList",
      "@id": {{ print .Permalink "#/schema/breadcrumb/1" }},
      "name": "Breadcrumbs",
      "itemListElement": [{{ $list := $.Scratch.Get "breadcrumb" }}{{ $len := (len $list) }}{{ range $index, $element := $list }}{{ if ne .position 1 }},{{ end }}{
        "@type": "ListItem",
        "position": {{ .position }},
        "item": {
          {{ if ne (add $index 1) $len -}}
          "@type": "WebPage",
          "@id": {{ .url }},
          "url": {{ .url }},
          "name": "{{ .name | humanize | title }}"
          {{ else -}}
          "@id": {{ .url }}
          {{ end -}}
        }
        }{{ end }}]
    },

    {{ if and (eq .Kind "page") (or (eq .Section "blog") (eq .Section "docs") (eq .Section "tutorial") (eq .Section "showcase")) -}}
    {
      "@context": "https://schema.org",
      "@graph": [
        {
          "@type": "Article",
          "@id": {{ print $baseURL "#/schema/article/1" }},
          "headline": "{{ .Title }}",
          "description": "{{ .Description }}",
          "isPartOf": {
            "@id": {{ .Permalink }}
          },
          "mainEntityOfPage": {
            "@id": {{ .Permalink }}
          },
          "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05CET" }}",
          "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05CET" }}",
          "author": {
            "@id": {{ print $baseURL "#/schema/person/2" }}
          },
          {{ if eq site.Params.schemaType "Organization" -}}
            "publisher": {
              "@id": {{ print $baseURL "#/schema/organization/1" }}
            },
          {{ else -}}
            "publisher": {
              "@id": {{ print $baseURL "#/schema/person/1" }}
            },
          {{ end -}}
          "image": {
            "@id": {{ print .Permalink "#/schema/image/2" }}
          }
        }
      ]
    },
    {
      "@context": "https://schema.org",
      "@graph": [
        {
          "@type": "Person",
          "@id": {{ print $baseURL "#/schema/person/2" }},
          "name": {{ site.Params.schemaAuthor }},
          "sameAs": [
            {{ with site.Params.schemaAuthorTwitter -}}
            {{ . }}
            {{ end -}}
            {{ with site.Params.schemaAuthorLinkedIn -}}
            , {{ . }}
            {{ end -}}
            {{ with site.Params.schemaAuthorGitHub -}}
            , {{ . }}
            {{ end -}}
          ]
        }
      ]
    },
    {{ end -}}
    {
      "@context": "https://schema.org",
      "@graph": [
        {
          "@type": "ImageObject",
          "@id": {{ print .Permalink "#/schema/image/2" }},
          "url": {{ $.Scratch.Get "primaryImage" }},
          "contentUrl": {{ $.Scratch.Get "primaryImage" }},
          "caption": "{{ .Title }}"
        }
      ]
    }

  ]
}
</script>
