// Colors

$blockquote-color: #6a737d;
$blockquote-border-color: #dfe2e5;
$body-color: #495057;
$url-color: #fc9d00;

// Fonts

$font-family: "Montserrat", sans-serif;

// Home page
$bar-height: 80px;
$bar-height-small: 40px;
$latest-color: #f29d15;
$menu-height: 2.5rem;
$xsmall-device: 376px;
$small-device: 414px;
$default-logo-font-size: 2.5rem;
$small-logo-font-size: 1.4rem;
$xsmall-logo-font-size: 1.1rem;
$landscape-iphone: 736px;
$skill1-color: #ed4a68;
$skill2-color: #f29d15;
$skill3-color: #9eb2c1;
$skill-font-size: 3.5rem;
$skill-font-size-xsmall: 2rem;
$skill-font-size-iphone-landscape: 2rem;
$skill-font-size-ipad-landscape: 3.5rem;
$parallax-font-size: 1.5rem;
$color-bar-font-size: 1.8rem;
$latest-font-size: 0.9rem;

// Footer
$footer-font-size: 0.7rem;
$twitter-color: #38a1f3;
$instagram-color: #c13584;
$facebook-color: #3c5a99;
$linkedin-color: #0077b5;
$light-grey-color: #6c757d;

$pswp__assets-path: "images/vendor/photoswipe/"; /* stylelint-disable-line */

// Sidebar
$sidebar-font-size: 0.8rem;

// Spacing
$default-spacing: 20px;

// Slick
$slick-font-path: "js/vendor/slick/fonts/";
$slick-loader-path: "js/vendor/slick/";
