// Colors

$blockquote-color: #6a737d;
$blockquote-border-color: #dfe2e5;
$body-color: #495057;
$url-color: #fc9d00;

// Fonts

$font-family: "Montserrat", sans-serif;

// Home page
$bar-height: 80px;
$latest-color: #f29d15;
$menu-height: 56px;

$skill1-color: #ed4a68;
$skill2-color: #f29d15;
$skill3-color: #9eb2c1;

$twitter-color: #38a1f3;
$instagram-color: #c13584;
$facebook-color: #3c5a99;
$linkedin-color: #0077b5;

$light-grey-color: #6c757d;

$pswp__assets-path: "images/vendor/photoswipe/";

// Spacing
$default-spacing: 20px;
