{{ define "main" }}
<div class="container-fluid">
  <div class="row home">
    <div class="col">
      <div class="col-4 skills">
        <div><span class="skill1">{{ index (.Params.skills) 0 }}</span></div>
        <div class="skill-row"><span class="skill2">{{ index (.Params.skills) 1 }}</span></div>
        <div class="skill-row"><span class="skill3">{{ index (.Params.skills) 2 }}</span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col latest">
      {{ range first 1 (where .Site.Pages "Section" "news") }}
      <a href="{{ .RelPermalink }}">Latest: {{ .Title }} </a>
      {{ end }}
    </div>

  </div>
</div>

<div class="row parallax spidersensevr">
  <div class="container">
    <h1>What I do</h1>
    <p>
    </p>
  </div>
</div>

{{ partial "social_row.html" (dict "social" .Site.Data.social.twitter) }}
{{ partial "social_row.html" (dict "social" .Site.Data.social.instagram) }}

<div class="row justify-content-center parallax batcave">
  <div class="container">
    <div class="home-about">
      <p>I would love to get to know you and help with anything I can. Feel free to reach out, contact me on <a href="{{ .Site.Data.social.twitter.url }}" target="_blank">twitter (@{{ .Site.Data.social.twitter.handle }})</a>, or shoot me an email (<a href="mailto:mvictoras@gmail.com">mvictoras@gmail.com</a>). We can also talk during my 1871 office hours.</p>
      <p>I would be happy to participate at your panel, conference or next event. Feel free to <a href="/contact">contact me</a>.</p>
    </div>
  </div>
</div>
{{ partial "social_row.html" (dict "social" .Site.Data.social.facebook) }}

{{ end }}
