{{ define "main" }}
<div class="container-fluid home-main">
  <div class="row">
    <div class="container not-padded main">
      <div class="col-4 skills">
        <div><span class="skill1">Researcher</span></div>
        <div class="skill-row"><span class="skill2">Scientist</span></div>
        <div class="skill-row"><span class="skill3">Inventor</span></div>
      </div>
    </div>
    <div class="row latest">
      <div class="col">
        <h1><a href="#">Latest: Experience SpiderSense at the Wired to Wear exhibit</a></h1>
      </div>
    </div>
  </div>
</div>
{{ end }}
